{% extends 'base.njk' %}
{% set page_title = 'Page Not Found' %}
{% block content %}
    <div class="container mx-auto px-3 md:px-12 max-w-screen-lg text-lg">
        <h1 class="text-9xl mt-12">404</h1>
        <p class="text-xl">The page you requested doesn't exist. Try the
            <a href="/">home page</a>?</p>
    </div>
{% endblock %}