---
pagination:
  data: collections.blogposts
  size: 5
  alias: blogposts
  reverse: true
---

{% extends 'base.njk' %}
{% set page_title = 'Blog' %}
{% block content %}
    <div class="mt-12 container mx-auto px-3 md:px-12 max-w-screen-lg text-lg">
        <h1 class=" text-primary mb-12 text-6xl">Blog</h1>
        {%- for post in blogposts %}
            <div class="mb-6">
                <a class="block no-underline hover:underline mb-6" href="{{ post.url }}">
                    <h3 class="text-3xl mb-1">{{ post.data.title }}</h3>
                    <h6 class="italic">{{ post.data.subtitle }}</h6>
                    <p class="text-sm">{{ post.data.date | formatBlogDate }}</p>
                </a>
                <div class="max-h-16 overflow-hidden break-words">{{ post.templateContent | safe }}</div>
                <a class="italic" href="{{ post.url }}">Read more →</a>
                <hr class="w-full"/>
            </div>
        {% endfor -%}
        <nav aria-label="pagination">
            <ol class="flex w-1/4 mx-auto justify-around">
                <li>
                    {% if pagination.href.previous %}
                        <a href="{{ pagination.href.previous }}">
                            <i class="text-primary fa-solid fa-arrow-left"></i>
                        </a>
                    {% else %}
                        <i class="fa-solid fa-arrow-left"></i>
                    {% endif %}
                </li>
                {%- for entry in pagination.pages %}
                    <li>
                        {% if page.url == pagination.hrefs[ loop.index0 ] %}
                            <a class="font-display text-xl" aria-current="page" href="{{ pagination.hrefs[ loop.index0 ] }}">{{ loop.index }}</a>
                        {% else %}
                            <a class="font-display text-xl no-underline" href="{{ pagination.hrefs[ loop.index0 ] }}">{{ loop.index }}</a>
                        {% endif %}
                    </a>
                </li>
            {%- endfor %}
            <li>
                {% if pagination.href.next %}
                    <a href="{{ pagination.href.next }}">
                        <i class="text-primary fa-solid fa-arrow-right"></i>
                    </a>
                {% else %}
                    <i class="fa-solid fa-arrow-right"></i>
                {% endif %}
            </li>
        </ol>
    </nav>
</div>{% endblock %}