{% extends 'base.njk' %}
{% set page_title = 'Home' %}
{% block content %}
  <!-- Hero text thing -->
  <div class="bg-secondary mb-12">
    <div class="w-1/2 mx-auto py-12">
      <h1 class="text-left mb-0">Hi, I'm</h1>
      <h1 class="text-9xl">KEVIN TRIEU</h1>
    </div>
  </div>
  <div class="w-1/2 mx-auto">
    <p>I do programming and would like to say I blog.</p>
    <p>I used to have a lot of career-y stuff here, but you should probably just read my resume.
    </div>
  {% endblock %}