{% extends 'base.njk' %}
{% set page_title = 'Home' %}
{% block content %}
  <!-- Hero text thing -->
  <div class="bg-secondary mb-12">
    <div class="container mx-auto py-12 px-3 md:px-12 max-w-screen-lg">
      <h1 class="text-sm md:text-2xl text-left mb-0">Hi, I'm</h1>
      <h1 class="text-4xl sm:text-6xl md:text-8xl mb-0">KEVIN TRIEU</h1>
    </div>
  </div>
  <div class="container mx-auto px-3 md:px-12 max-w-screen-lg text-lg">
    <p>I write software and words, but the former is what I do for a living.</p>
    <p>If you're interested in the software, read my
      <a href="static/resume.pdf">resume</a>, or look at my
      <a>projects page</a>.
    </p>
    <p>If you're interested in the words, take a look at my
      <a>blog.</a>
    </p>
    <p>If you want to find me somewhere else on the Internet, click those icons down below.</p>
    <ul class="flex mx-auto mt-6">
      <li class="mr-6">
        <a href="mailto:kevin.trieu5813@gmail.com">
          <i class="inline w-8 h-8 fa-solid fa-envelope fa-xl"></i>
        </a>
      </li>
    </li>
    <li class="mr-6">
      <a href="https://github.com/ktrieu">
        <i class="inline w-8 h-8 fa-brands fa-github fa-xl"></i>
      </a>
    </li>
  </ul>
</div>{% endblock %}