<!DOCTYPE html>
<html class="scroll-smooth">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&family=Quicksand:wght@400;700&display=swap"
            rel="stylesheet">
        <link href="/new-website.css" rel="stylesheet"/>
        <link
			href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css"
			rel="stylesheet"
		/>
        <link rel="shortcut icon" type="image/svg" href="/static/favicon.svg"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="utf-8"/>
        <title>{{ page_title }} | kevintrieu.com</title>
        <!-- Link preview tags -->
        <meta name="title" content="{{ page_title }} | kevintrieu.com"/>
        <meta name="description" content="Hi, I'm Kevin Trieu."/>
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="https://kevintrieu.com/"/>
        <meta property="og:title" content="{{ page_title }} | kevintrieu.com"/>
        <meta property="og:description" content="Hi, I'm Kevin Trieu."/>
        <script src="https://kit.fontawesome.com/ca71f43bc2.js" crossorigin="anonymous"></script>
        <script data-goatcounter="https://ktrieu.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
    </head>
    <body>
        <div
            class="flex min-h-screen flex-col">
            <!-- Navbar -->
            <nav class="flex border-b-4 border-primary py-4">
                <div class="container mx-auto px-3 md:px-12 max-w-screen-lg">
                    <ul class="flex items-center">
                        <li class="text-xl mr-6">
                            <a class="no-underline hover:underline" href="/">HOME</a>
                        </li>
                        <li class="text-xl mr-6">
                            <a class="no-underline hover:underline" href="/projects">PROJECTS</a>
                        </li>
                        <li class="text-xl mr-6">
                            <a class="no-underline hover:underline" href="/blog">BLOG</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="flex-1 mb-12"> {% block content %}{% endblock %}
                </div>
            </div>
        </body>
    </html>