{% extends 'base.njk' %}
{% set page_title = title %}
{% block content %}
    <div class="mt-12 container mx-auto px-3 md:px-12 max-w-screen-lg text-lg">
        <div class="mb-12">
            <h1 class=" text-primary mb-3 text-6xl">{{ title }}</h1>
            <h6 class="italic text-3xl">{{ subtitle }}</h6>
            <p class="text-lg">{{ date | formatBlogDate }}</p>
        </div>
        {% if content | toc and enableToc %}
            <div class="mb-12">
                <div class="border-primary border-2 bg-secondary w-fit p-6 italic">
                    <p class="italic font-bold">Contents</p>
                    {{ content | toc | safe }}
                </div>
            </div>
        {% endif %}
        <div class="prose lg:prose-lg leading-relaxed max-w-none prose-headings:mb-3">
            {{ content | safe }}
        </div>
    </div>
{% endblock %}